<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>test/Integration</directory>
        </testsuite>
        <testsuite name="Compatibility Tests">
            <directory>test/Compatibility</directory>
        </testsuite>
        <testsuite name="All Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Exception</directory>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
        <thresholds>
            <high lowUpperBound="50" highLowerBound="90"/>
        </thresholds>
    </coverage>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <env name="PHPUNIT_RUNNING" value="1"/>
        <env name="WEAVIATE_HOST" value="localhost"/>
        <env name="WEAVIATE_PORT" value="8080"/>
        <env name="WEAVIATE_SCHEME" value="http"/>
        <env name="EDGEBINDER_TEST_MODE" value="true"/>
    </php>
</phpunit>
